@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  touch-action: none;
}

body {
  overflow: auto
}

html {
  @apply
  bg-gradient-to-r 
  from-zinc-500 
  to-zinc-400
}

input {
  @apply
  border-2 
  border-zinc-300 
  p-1 
  outline-0 
  my-2
  rounded-md
}

button {
  @apply
  p-3 
  border 
  border-zinc-700 
  rounded 
  lg:m-2 
  select-none 
  bg-gradient-to-r 
  from-zinc-400 
  to-zinc-300
  font-bold
  duration-100
  hover:brightness-110
}

.button2 {
  @apply
  w-full 
  p-2 
  text-center 
  bg-zinc-800 
  text-white 
  rounded-md 
  hover:brightness-125 
  duration-100 
  cursor-pointer
}

label {
  @apply
  font-bold
}