@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

}

body {
  overscroll-behavior: contain;
}

html {
  @apply
  bg-gradient-to-r 
  from-zinc-500 
  to-zinc-400

}

input {
  @apply
  border-2 
  border-zinc-300 
  p-1 
  outline-0 
  my-2
  rounded-md
}

h2 {
  @apply
  text-[20px]
 
}

.button {
  @apply
  border-2 
  border-zinc-300 
  rounded-lg
  text-zinc-300
  w-[14vw]
  h-12
  lg:w-[50px]
  m-1
  select-none 

  duration-100
  hover:brightness-110
}

.buttonbig {
  @apply
  whitespace-nowrap
  border-2 
  border-zinc-300 
  rounded-lg
  text-[20px]
  h-12
  w-[28vw]
  lg:w-[100px]
  lg:m-1
  select-none 
text-zinc-300
  duration-100
  hover:brightness-110
}

.buttonMenu {
@apply
w-9
h-9
p-1

border-2
border-zinc-300
rounded-md
py-2
my-1
font-bold
transition
hover:border-zinc-100

}

.dissonant {
  @apply
  border-orange-400 
}

.button2 {
  @apply
  w-full 
  p-2 
  text-center 
  border-2
  border-zinc-300
  hover:border-orange-400
  rounded-lg
  font-semibold
  hover:brightness-110 

  cursor-pointer
}

label {
  @apply
  font-bold
}